<div class="mb-2" (click)="selectCheckBox(item)">
    <input *ngIf="item.done && filter!='active'" class="me-3" type="checkbox" value="" checked>
    <label *ngIf="item.done && filter!='active'" class="{{className}}" for="">
        {{item.description}}
    </label>
    <input *ngIf="!item.done && filter!='completed'" class="me-3" type="checkbox" value="">
    <label *ngIf="!item.done && filter!='completed'" class="" for="">
        {{item.description}}
    </label>
</div>
<span *ngIf="item.done && filter=='completed'" (click)="deleteItem(item)" type="button" value="Delete"
    class="material-icons">delete_outline</span>